.container {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-bottom: 30px;
  font-size: 4rem;
  color: ##3e3d3d;
}

@media (max-width: 575px) {
  .title {
    font-size: 3rem;
  }
}
